<%- include('../partials/header') %>

<a href="/flights">Back to Flights</a>

<h2>Flight Details</h2>

<h3><%= flight.airline %> - <%= flight.flightNo %></h3>
<p>Departs: <%= flight.departs.toDateString() %></p>
<p>Airport: <%= flight.airport %></p>

<h3>Add Destination</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label for="airport">Airport:</label>
  <select name="airport" id="airport">
    <% 
    let allDestinations = ["AUS", "DFW", "DEN", "LAX", "SAN", "IAH"];
    var alreadyUsed = flight.destinations.map(destination => destination.airport);
    var availableDestinations = allDestinations.filter(airport => !alreadyUsed.includes(airport));

    availableDestinations.forEach(function(airport) { %>
      <option value="<%= airport %>"><%= airport %></option>
    <% }) %>
  </select>
  <br />
  <label for="arrival">Arrival:</label>
  <input type="date" name="arrival" id="arrival" />
  <br />
  <button type="submit">Add Destination</button>
</form>

<h3>Destinations</h3>

<ul>
  <!-- v-if destinations.length -->
  <% if (destinations) { %> <% destinations.forEach(function(destination) { %>
  <li>
    <%= destination.airport %> -
    <span
      style="color: <%= destination.arrival.getTime() < Date.now() ? 'red' : 'green' %>"
    >
      <%= destination.arrival.toDateString() %>
    </span>
  </li>
  <% }) %> <% } else { %>
  <li>No destinations added</li>
  <% } %>
</ul>

<h3>Tickets</h3>

<a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>


<ul>
  <% if (tickets.length) { %> <% tickets.forEach(function(ticket) { %>
  <li>
    <%= ticket.seat %> -
    <span
      style="color: <%= ticket.price < 500 ? 'green' : 'red' %>"
    >
      $<%= ticket.price %>
    </span>

    <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>" method="POST">
      <button type="submit">Delete</button>

    </form>
  </li>
  <% }) %> <% } else { %>
  <li>No tickets purchased</li>
  <% } %>
</ul>

<%- include('../partials/footer') %>