<%- include('../partials/header')  %>

<h3><%= flight.flight %></h3>
<h3>Complete: <%= flight.done ? 'Yes' : 'No' %></h3>
<a href="../flight/<%= id %>/edit">Edit Flight</a>

<%- include('../partials/footer')  %>